@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #06141B;
  color: white;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #06141B;
}

::-webkit-scrollbar-thumb {
  background: cyan;
  border-radius: 10px;
}